{% extends '@frontend/base.html.twig' %}

{% block body %}

<div class="container-user">
    <div class="row">

        <div class="main">

            <h3>Forgot Password</h3>

            {{ form_start(form, {'attr': {'id': 'form-forgot-password', 'role': 'form'}}) }}

                <div class="form-group">
                    <label for="inputUsernameEmail">Your Email</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'Your Email', 'autocomplete' : 'off'}, 'id' : 'forgot_email'}) }}
                </div>
                <button type="submit" class="btn btn btn-primary" id="submit-form-forgot-password">
                    Send
                </button>

            {{ form_end(form) }}

        </div>

    </div>
</div>

<div id="popup-forgot-password" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Errors Message</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>


{% endblock %}